/*  people.compenent.css  */ 
.person-list {
  display: block;
  margin-top: 10px;
  width: 100%;
}

.container { 
  width: 96%;
  max-width: 1800px;
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  max-width: 18200px;
  margin-right:0px;
  padding-left: 0px;
  padding-right: 0px;
  height: auto;
}

.col {
  padding-left: 0px;
  padding-right: 0px;
}

.useroptions {
  text-align: left;
  line-height: 10pt;
  line-height: 2em;
  min-width: 400px;
}

.usernames {
  min-width: 800px;
  line-height: 1em;
}

.mat-option, .mat-select-panel {
  line-height: 1em;
  line-height: 10px;
}

.oneline {
  display: block;
}
.inline {
  display:inline-block;
}

.logo {
  font-family: 'Times New Roman';
  font-size: 26pt;
  color: #002554;
  line-height: 28pt;
}


.staffdept {
  padding-top: 10px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE Edge 12+ CSS styles go here */ 
  .people {
    margin: 0 0 0 0;
    padding: 0em 0em 0em 0em;
    height: 250px;
  }
}

.mobilenavigation {
  display: none;
}

